@import '../../colors';
@import '../../fonts';

.MainPage {
  font-family: $serif;
  color: $emph;
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  
  h1 {
    font-family: $fancy;
  }
  a {
    color: $neutral;
  }
}

@keyframes fadeIn {
  0% {opacity: 0%}
  100% {opacity: 100%}
}
@-moz-keyframes fadeIn {
  0% {opacity: 0%}
  100% {opacity: 100%}
}
@-webkit-keyframes fadeIn {
  0% {opacity: 0%}
  100% {opacity: 100%}
}