@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Tajawal:wght@200;500&family=Vollkorn:wght@500&display=swap');

$fancy: 'Bungee Shade', cursive;
$sans: 'Tajawal', sans-serif;
$serif: 'Vollkorn', serif;

// @import url('https://fonts.googleapis.com/css2?
// family=Bungee+Shade&
// family=Tajawal:wght@200;500&
// family=Vollkorn:wght@500&display=swap');